.container{
  box-shadow: rgb(237, 237, 237) 0px 10px 10px;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.column{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-wrap: nowrap;
}

.row>*{
  width: auto;
}

.bold{
  font-weight: bold;
}

.font-size-12{
  font-size: 12px;
}