* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #DD092F;
  min-height: 100vh;
}

/* Header and Navbar */
.bg-body-tertiary{
  background-color: #DD092F !important;
}

nav img{
  height: 60px;
  width: 200px;
}

/* Header Img and Searchbar */
.hero-image{
  height: 150px;
  width: 500px;
  display: block;
  margin: 150px auto 0 auto;
}

main form{
  width: 50%;
  margin: 0 auto 0 auto;
}

main form svg path{
  color: white;
}

/* Pokedex-Container */
#pokedex-render-container{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-top: 40px;
}

.pokemon-render-result-container{
  min-width: 20%;
  padding-top: 40px;
  position: relative;
  cursor: pointer;
  transition-duration: 100ms;
  flex: 0.5 1 0%;
  margin: 60px 10px 10px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-image: initial;
}

.search-pokemon-image{
  position: absolute;
  top: -55px;
  transition-duration: 100ms;
  width: 96px;
  height: 96px;
}

.type-container{
  font-weight: 600;
  font-size: 14px;
  opacity: 0.8;
  border-radius: 5px;
  padding: 3px 7px;
  margin: 10px 5px 5px;
}

.type-container:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}